@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary: #1e90ff;
  --secondary: #2b2b2b;
  --accent: #39ff14;
  --text: #ffffff;
  --border: #6c6c6c;
}
