.addressContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 30rem));
  gap: 2rem;
  padding: 5rem;
}

.addAddress {
  justify-content: center;
  align-items: center;
}

.addAddress:hover {
  color: var(--primary);
}

.addressBlock {
  position: relative;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 2px dashed var(--border);
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--text);
  background-color: transparent;
  cursor: pointer;
}

.editOverlay {
  color: var(--primary);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.addressBlock:hover {
  border: 2px dashed var(--primary);
}

.addressBlock:hover .editOverlay {
  opacity: 1;
}
